@model WebApplication.ViewModels.Recu

@{
    ViewBag.Title = "EndReservationSimple";
}

<h2>Confirmation de réservation</h2>

    <h4>Reçu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Référence :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdReservation)
        </dd>

        <dt>
            Nom : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Prénom :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Date d'arrivée :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            Date de départ :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>

        <dt>
            Prix :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            Chambre(s) :
        </dt>

        <dd>
            @foreach (var item in Model.rooms)
            {
                @Html.DisplayFor(modelItem => item.Number)<text>  </text>
            }

        </dd>

    </dl>


<p>
    @Html.ActionLink("Retour à l'acceuil", "Index", "Home")
</p>